<div class="col-12 table-responsive">
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Rut</th>
        <th scope="col">Banco</th>
        <th scope="col">Tipo de Cuenta</th>
        <th scope="col">Monto</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th>{{user.name}}</th>
        <td>{{user.rut}}</td>
        <td>{{user.bank_name}}</td>
        <td>{{user.tipo_cuenta}}</td>
        <td>{{user.amount}}</td>
        <td>{{user.fecha}}</td>
      </tr>
    </tbody>
  </table>
</div>